---
import "./index.css"
import cartimg from "../../assets/cart-img.png"
---

<div class="card-container">
    <img src={cartimg} class="collection-image" alt="">
    <div class="card-text">
        <hr class="card-text-hr"/>
        <p class="card-text-lorem">Get 10% off your first order.</p>
        <p class="card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit fringilla tortor nam adipiscing morbi nisl vitae mi enim..</p>
    <div class="card-email-btn">
        <p class="card-email">Email Address</p>
        <button class="subscribe-btn">Subscribe</button>
    </div>
    </div>
</div>
