---
import "./index.css"
import cartimg1 from "../../assets/article1.png"
import cartimg2 from "../../assets/article2.png"
---

<div class="collection-main-div">
    
  <div class="latest-article">
 <div class="hr-text-heder">

    <hr class="latest-text-hr">
    <p class="card-text">Latest Articles & News</p>
    </div>
    <button>Browse Articles</button>
  </div>

  <div class="blog-card">
  <div class="card">
    <img src={cartimg1} class="collection-image" alt="">
    <div class="collection-first-text">
      
        <div class="blog-date">
        <p>Blog</p>
        <p>feb 1,2023</p>
      </div>
  
      <p class="collection-wedding-lerem-ipsum-dolor">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
        <p class="Read More">Read More </p>
        </div>
      </div>
      <div class="card">
        <img src={cartimg2} class="collection-image" alt="">
        <div class="collection-first-text">
          
            <div class="blog-date">
            <p>Articles</p>
            <p>feb 1,2023</p>
          </div>
      
          <p class="collection-wedding-lerem-ipsum-dolor">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
            <p class="Read More">Read More </p>
            </div>
          </div>
  </div>
   