---
import "./index.css"
import cartimg1 from "../../assets/banner-img1.png"
import cartimg2 from "../../assets/banner-img2.png"
---
<div class="collection-main-div">
  <div class="card">
    <img src={cartimg1} class="collection-image" alt="">
    <div class="collection-first-text">
      <hr class="collection-first-text-hr">
      <p class="collection-wedding-lerem-ipsum-dolor">Lorem ipsum dolor sit amet cons eadipiscing
        elit eu et posue.</p>
        <button class="Browse category">Browse category </button>
        </div>
      </div>
      <div class="card">
        <img src={cartimg2} class="collection-image" alt="">
        <div class="collection-first-text">
          <hr class="collection-first-text-hr">
          <p class="collection-wedding-lerem-ipsum-dolor">Lorem ipsum dolor sit amet cons eadipiscing
            elit eu et posue.</p>
            <button class="Browse category">Browse category </button>
            </div>
          </div>
  
  </div>
   
        