---
import "./index.css" 
import cartimg1 from "../../assets/product-img.png"
---

 <div class="product-image">
    <img src={cartimg1} class="collection-image" alt="">
    <div class="product-text">
        <hr class="product-text-hr"/>
        <p class="product-text-lorem">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit fringilla tortor nam adipiscing morbi nisl vitae mi enim interdum nec viverra leo at risus sed nunc duis id massa nunc massa blandit nisl in.</p>
        <button class="product-btn">About Us</button>
    </div>
</div>
