---
import "./index.css"
import cartimg1 from "../../assets/img1.png"
import cartimg2 from "../../assets/img2.png"
import cartimg3 from "../../assets/img3.png"
---
<div class="collection-main-div">
  <div class="collection-main-div-2">
  <div class="collection-first-text">
    <hr class="collection-first-text-hr">
    <p class="collection-first-text-heading">Browse by collection</p>
    <p class="collection-first-text-text-small">Lorem ipsum dolor sit amet consectetur adipiscing elit eu et posuere feugiat pellentesque curabitur purus </p>
    </div> 
  <div class="collection-imagesmall-div">
     
    <div class="card">
      <img src={cartimg1} class="collection-image" alt="">
      <div class="collection-second-text">
        <p class="collection-wedding">WEDDING</p>
        <p class="collection-wedding-lerem-ipsum-dolor">Lorem ipsum dolor sit amet cons eadipiscing
          elit eu et posue.</p>
          <div class="collection-link-icon">
          <a href="" class="Browse-collection">Browse collection </a><svg class="collection-arrow-icon" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg>
        </div>
    </div>
      
    
      
    </div>
    <div class="card">
      <img src={cartimg2} class="collection-image" alt="">
      <div class="collection-second-text">
        <p class="collection-wedding">CASUAL</p>
        <p class="collection-wedding-lerem-ipsum-dolor">Lorem ipsum dolor sit amet cons eadipiscing
          elit eu et posue.</p>
          <div class="collection-link-icon">
            <a href="" class="Browse-collection">Browse collection </a><svg class="collection-arrow-icon" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg>
          </div>
      </div>
      
    
      
    </div>
    <div class="card">
      <img src={cartimg3} class="collection-image" alt="">
      <div class="collection-second-text">
        <p class="collection-wedding">PARTY</p>
        <p class="collection-wedding-lerem-ipsum-dolor">Lorem ipsum dolor sit amet cons eadipiscing
          elit eu et posue.</p>
          <div class="collection-link-icon">
            <a href="" class="Browse-collection">Browse collection </a><svg class="collection-arrow-icon" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg>
          </div>
      </div>
      
    </div>
      
      
  </div>
      
    </div>
   
   
    
  </div>
  
</div>


</div>