---
import './index.css'
---

<div class="landing-page-banar-landing-banner">
    <div class="container-landing-banner">
      <div class="col-1-landing-banner">
        <div class="card-sub-cal-landing-banner">
          <hr />
          <p class="banar-sub-text-1-landing-banner">
            Save up to 50% in our wedding sale
          </p>
          <p class="banar-sub-text-2-landing-banner">
            Lorem ipsum dolor sit amet consectetur adipiscing eli mattis sit
            phasellus mollis sit aliquam sit nullam neque ultrices.
          </p>

          <button class="active-button-1-landing-banner">
            Explore tradition
          </button>

          <button class="active-button-2-landing-banner">
            wedding collection
          </button>
        </div>
      </div>
    </div>
  </div>