---
import "./index.css"
---

    <div class="nav-bar-main-div">
      <div class="nav-bar-full">
        <div class="nav-bar-description">
          <img
            class="nav-bar-logo"
            src="https://res.cloudinary.com/dasbthiyj/image/upload/v1688549884/qnzr1lpwsgmaxmcde17r.png"
            alt="navbarlogo"
          /> <div class="nav-bar-search-bar">
            <span>
          <input
            class="nav-bar-search"
            type="text"
            placeholder="Search for.."
            name="search"
          />
        </span>
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
        </span>
        </div>
          <div class="nav-bar-icons">
            <img
              class="nav-bar-icon-1"
              src="https://res.cloudinary.com/dasbthiyj/image/upload/v1688550902/j6cpmqqnnmmbk06yxtka.svg"
              alt="hert-logo"
            />
            <img
              class="nav-bar-icon-1"
              src="https://res.cloudinary.com/dasbthiyj/image/upload/v1688551101/yzss9leuhp62wq6c44cm.svg"
              alt="hert-logo"
            />
            <img
              class="nav-bar-icon-1"
              src="https://res.cloudinary.com/dasbthiyj/image/upload/v1688551150/wtuiyobdvl3t8zifycew.svg"
              alt="hert-logo"
            />
            <button
              class="nav-bar-toggle">
              <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg>
            </button>
              
            
          </div>
        </div>
        <div class="nav-bar-menu">
          <ul class="navbar-link-lists">
            <li class="navbar-list">
              <a href="#home " class="nav-bar-a-link">
                New Arrival
              </a>
            </li>

            <li class="dropdown navbar-list">
              <a href="" class="nav-bar-a-link dropbtn">
                Collections
                <img
                  class="vector-img"
                  src="https://res.cloudinary.com/dasbthiyj/image/upload/v1688580556/bhwqcd792q7fbuadaakr.svg"
                  alt="vector"
                />
              </a>
              
              <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
              </div>
            </li>
            <li class="dropdown navbar-list">
              <a href="" class="nav-bar-a-link dropbtn">
                Saree Galore
                <img
                  class="vector-img"
                  src="https://res.cloudinary.com/dasbthiyj/image/upload/v1688580556/bhwqcd792q7fbuadaakr.svg"
                  alt="vector"
                />
              </a>
              <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
              </div>
            </li>
            <li class="dropdown navbar-list">
              <a href="" class="nav-bar-a-link dropbtn">
                Categories
                <img
                  class="vector-img"
                  src="https://res.cloudinary.com/dasbthiyj/image/upload/v1688580556/bhwqcd792q7fbuadaakr.svg"
                  alt="vector"
                />
              </a>
              <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
              </div>
            </li>
            <li class="dropdown navbar-list">
              <a href="" class="nav-bar-a-link dropbtn">
                Occasion
                <img
                  class="vector-img"
                  src="https://res.cloudinary.com/dasbthiyj/image/upload/v1688580556/bhwqcd792q7fbuadaakr.svg"
                  alt="vector"
                />
              </a>
              <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
              </div>
            </li>
            <li class="navbar-list">
              <a href="" class="nav-bar-a-link">
                Blog
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>